<style lang="scss">
  .d-flex {
    display: flex;
  }
  .align-items-center {
    align-items: center;
  }
  .flex-direction-column {
    flex-direction: column;
  }
</style>
<div class="d-flex align-items-center flex-direction-column">
  <div *ngFor="let item of shops; index as i;">
    <div>article <strong>{{item.article}}</strong> price <strong>{{item.price}}</strong></div>
  </div>
  <div>
    <input type="text" placeholder="Введите текст" [(ngModel)]="searchModel" (change)="getAddresses()"/>
  </div>
  <div *ngFor="let item of addresses; index as i;">
    <div><strong>{{item.title.text}}</strong>, <strong>{{item.subtitle.text}}</strong></div>
  </div>

</div>
